{% extends "base.html" %}

{% block body %}

{% if session.logged_in %}
    <div class="add-entry">
        <form action="{{ url_for('add_entry') }}" method="POST" class="add_entry">
          <div class="field">
            <label for="title">Title</label><br>
            <input type="text" size="30" name="title" id="title" required />
          </div>
          <div class="field">
            <label for="text">Text</label><br>
            <textarea name="text" id="text" rows="5" cols="80" required ></textarea>
          </div>
          <div class="control_row">
            <button class="btn btn-default btn-sm" type="submit" value="Post" name="Share">POST</button>
          </div>
        </form>
    </div>
{% endif %}

{% endblock %}